In [1]:
pip install fuzzywuzzy

Collecting fuzzywuzzy
  Obtaining dependency information for fuzzywuzzy from https://files.pythonhosted.org/packages/43/ff/74f23998ad2f93b945c0309f825be92e04e0348e062026998b5eefef4c33/fuzzywuzzy-0.18.0-py2.py3-none-any.whl.metadata
  Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl.metadata (4.9 kB)
Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl (18 kB)
Installing collected packages: fuzzywuzzy
Successfully installed fuzzywuzzy-0.18.0
Note: you may need to restart the kernel to use updated packages.

In [58]:
from fuzzywuzzy import process
import pandas as pd


df_transactions = pd.read_csv("transactions.csv")
df_customers = pd.read_csv("customers.csv")


def valida_dato(nombre_cliente, lista_clientes, porcentaje_acierto=100):
    result = process.extractOne(nombre_cliente, lista_clientes)
    return result[0] if result and result[1] >= porcentaje_acierto else None

customer_names = df_customers['customer_name'].unique()

df_transactions['matched_name'] = [
    valida_dato(nombre, customer_names) for nombre in df_transactions['customer_name']
]

df_consolidado = pd.merge(
    df_transactions, 
    df_customers, 
    left_on='matched_name', 
    right_on='customer_name', 
    how='left', 
    suffixes=('_transaction', '_customer')
)

df_consolidado

,transaction_id,customer_name_transaction,amount,transaction_date,matched_name,customer_id,customer_name_customer,email
0,101,John Smith,784,2023-01-31,John Smith,1.0,John Smith,john.smith@email.com
1,102,Jane Doe,659,2023-02-28,Jane Doe,2.0,Jane Doe,jane.doe@email.com
2,103,Michael Jonson,729,2023-03-31,None,NaN,NaN,NaN
3,104,Chris Lee,292,2023-04-30,Chris Lee,4.0,Chris Lee,c.lee@email.com
4,105,Katherine Davis,935,2023-05-31,Katherine Davis,5.0,Katherine Davis,k.davis@email.com
5,106,David Martinez,863,2023-06-30,David Martinez,6.0,David Martinez,d.martinez@email.com
6,107,Sarah Brown,807,2023-07-31,None,NaN,NaN,NaN
7,108,James Wilson,459,2023-08-31,James Wilson,8.0,James Wilson,j.wilson@email.com
8,109,Patricia Taylor,109,2023-09-30,Patricia Taylor,9.0,Patricia Taylor,p.taylor@email.com
9,110,Robet Miller,823,2023-10-31,None,NaN,NaN,NaN